{% extends 'base.html.twig' %}

{% block title %}Transfer market{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-6">
        <div class="team-name">
            <img src="{{ asset('images/teams/' ~ team.image) }}" class="logo-squad"> 
            <h2>{{ team.name }}</h2>  
        </div>
        <p class="text-center">Money : {{ user.money }}</p>
    </div> 
    <div class="col-lg-6">
    {# space to put filters #}
        <table class="table">
            <th></th>
            <th>Name</th>
            <th>Age</th>
            <th>Role</th>
            <th>Overall</th>
            <th>Price</th>
            {% for player in players %}
            <tr>
                <td><img class="player-image" src="{{ asset('images/players/' ~ player.image) }}"></td>
                <td>{{ player.firstname }} {{ player.lastname }}</td>
                <td>{{ player.age }}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.getOverall }}</td>
                <td><a class="btn btn-success" href="{{ path('buy_player', {'id': player.id}) }}">{{ player.getBuyingPrice }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
 {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}


