{% extends 'base.html.twig' %}

{% block title %}{{ team.name }} / Squad{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-6">
                <div class="team-name">
                    <img src="{{ asset('images/teams/' ~ team.image) }}" class="logo-squad"> 
                    <h2>{{ team.name }}</h2>  
                </div>
                <p class="text-center">Money : {{ user.money }}</p>
            </div> 
            <div class="col-lg-6 team-overall">
                <span></span>
            </div> 
        </div>
        <div class="volley-field" style="background-image : url('/images/woman-court.jpg')">
            {% for titulaire in titulaires %}
            <div class="player-in-squad" data-id="{{titulaire.id}}" data-attribute="position-{{titulaire.squadPosition}}" data-position="{{titulaire.position}}">
                <div class="player-field" style="background: url('/images/players/{{titulaire.image}}') center / contain no-repeat;">
                    <span class="player-overall">{{ titulaire.getOverall }}</span>
                </div>
                <span class="player-name">{{ titulaire.lastname }}</span>
                <p class="text-center">{{titulaire.position}}</p>
            </div>
            
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-6">
        <table class="table">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Position</th>
            <th>Overall</th>
        </tr>
        {% for player in players %}
            {% if player.squadPosition > 7 and player.squadPosition < 13 %}
            <tr class="player player-substitute" id="{{ player.id }}" data-position="{{ player.position }}" data-position-squad="{{ player.squadPosition }}" data-ethnicity="{{ player.IdEthnicity.name}}" data-faction="{{ player.IdEthnicity.IdFaction.name}}">
            {% elseif player.squadPosition < 8 %}
            <tr class="player player-titulaire" id="{{ player.id }}" data-position="{{ player.position }}" data-position-squad="{{ player.squadPosition }}" data-ethnicity="{{ player.IdEthnicity.name}}" data-faction="{{ player.IdEthnicity.IdFaction.name}}">
            {% else %}
            <tr class="player" id="{{ player.id }}" data-position="{{ player.position }}" data-position-squad="{{ player.squadPosition }}" data-ethnicity="{{ player.IdEthnicity.name}}" data-faction="{{ player.IdEthnicity.IdFaction.name}}">
            {% endif %}
                <td><img class="player-image" src="{{ asset('images/players/' ~ player.image) }}"></td>
                <td>{{ player.firstname }} {{ player.lastname }}</td>
                <td>{{ player.position }}</td>
                <td data-player-overall="{{ player.getOverall }}">{{ player.getOverall }}</td>
                <span></span>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div id="swap" data-path="{{path('swap_players')}}"></div>
   <div id="playerInfo" data-path="{{path('player_info')}}"></div>
</div>
{% endblock %}
{% block modal %}
<!-- Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <span class="btn btn-danger close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </span>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-image"></div>
                                <p class="card-text text-center age"></p>
                            </div>
                            <div class="col-md-4">
                                <div class="overall">
                                
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p class="card-text attack"></p>
                                <p class="card-text block"></p>
                                <p class="card-text dig"></p>
                                <p class="card-text passing"></p>
                                <p class="card-text serve"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <span class="training-count text-left"></span>
                <a class="btn btn-lg btn-success" href="">Training</a>
                <span class="btn btn-lg btn-danger sell-button" data-player-id="">
                    <p class="sell"></p>
                    <span id="playerSell" data-path="{{path('sell_player')}}"></span>
                </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ asset('js/squad.js')}}"></script>
{% endblock %}