{% extends 'base.html.twig' %}

{% block title %}{{ team.name }} / Squad{% endblock %}

{% block body %}
<div class="row" id="squadPage">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-6">
                <div class="team-name">
                    <img src="{{ asset('images/teams/' ~ team.image) }}" class="logo-squad"> 
                    <h2>{{ team.name }}</h2>  
                </div>
                <p class="text-center">Money : {{ user.money }}</p>
            </div> 
            <div class="col-lg-6 team-overall">
                <span></span>
            </div> 
        </div>
        <div class="volley-field" style="background-image : url('/images/woman-court.jpg')">
            {% for titulaire in titulaires %}
            <div class="player player-in-squad" id="{{titulaire.id}}" data-id="{{titulaire.id}}" data-attribute="position-{{titulaire.squadPosition}}" data-position="{{titulaire.position}}" data-position-squad="{{titulaire.squadPosition}}">
                <div class="player-field" style="background: url('/images/players/{{titulaire.image}}') center / contain no-repeat;">
                    <span class="player-overall">{{ titulaire.getOverall }}</span>
                </div>
                <span class="player-name">{{ titulaire.lastname }}</span>
                <span class="player-position">{{ titulaire.shortPositionName }}</span>
                <p class="text-center">{{titulaire.position}}</p>
            </div>
            
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            
            <div class="col-lg-6">
            <h3>Substitutes</h3>
                <div class="substitutes">
                    {% for substitute in substitutes %}
                    <div class="player player-in-squad" id="{{substitute.id}}" data-id="{{substitute.id}}" data-attribute="position-{{substitute.squadPosition}}" data-position="{{substitute.position}}" data-position-squad="{{substitute.squadPosition}}">
                        <div class="player-field" style="background: url('/images/players/{{substitute.image}}') center / contain no-repeat;">
                            <span class="player-overall">{{ substitute.getOverall }}</span>
                            <span class="player-name">{{ substitute.lastname }}</span>
                            <span class="player-position">{{ substitute.shortPositionName }}</span>
                        </div>
                    
                    </div>
                    {% endfor %}
                </div>
            </div>
             <div class="col-lg-6">
             <h3>Reserve</h3>
                <div class="reserves">
                    {% for reserve in reserves %}
                    <div class="player-in-squad" id="{{reserve.id}}" data-id="{{reserve.id}}" data-attribute="position-{{reserve.squadPosition}}" data-position="{{reserve.position}}" data-position-squad="{{reserve.squadPosition}}">
                        <div class="player-field" style="background: url('/images/players/{{reserve.image}}') center / contain no-repeat;">
                            <span class="player-overall">{{ reserve.getOverall }}</span>
                            <span class="player-name">{{ reserve.lastname }}</span>
                            <span class="player-position">{{ reserve.shortPositionName }}</span>
                        </div>
                    
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    
    <div id="swap" data-path="{{path('swap_players')}}"></div>
   <div id="playerInfo" data-path="{{path('player_info')}}"></div>
</div>
{% endblock %}
{% block modal %}
<!-- Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <span class="btn btn-danger close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </span>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card-image"></div>
                                <p class="card-text text-center age"></p>
                            </div>
                            <div class="col-md-4">
                                <div class="overall">
                                
                                </div>
                            </div>
                            <div class="col-md-4">
                                <p class="card-text attack"></p>
                                <p class="card-text block"></p>
                                <p class="card-text dig"></p>
                                <p class="card-text passing"></p>
                                <p class="card-text serve"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <span class="training-count text-left"></span>
                <a class="btn btn-lg btn-success" href="">Training</a>
                <span class="btn btn-lg btn-danger sell-button" data-player-id="">
                    <p class="sell"></p>
                    <span id="playerSell" data-path="{{path('sell_player')}}"></span>
                </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
 {% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"><script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ asset('js/squad.js')}}"></script>
{% endblock %}